<div class="container">
  <div class="row">
    <h1>Modifica il contenuto per <%= @content.titolo %></h1>

    <%= render 'form', content: @content %>

    <%= link_to 'Show', @content %> |
    <%= link_to 'Back', contents_path %>
  </div>
</div>
