<section id="about" class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="center">About Me</h3>
      <p>
        Hi! I'm Pietro Giordano and i'm a Front-End Developer. I live in Salerno, Italy but a love to work anywhere! I'm a Freelancer from 3 Years and a Front-End Developer to <%= link_to "Creatiwa Studio Agency" %>.  
      </p>
    </div>
  </div>
</section>
